Requirement:
{{ requirement.requirement }}

Schema:
```json
{{ schema | tojson() }}
```

Schema update instructions:
```
{{ instructions }}
```

State name: {{ state.name }}
Current action:
```json
{{ action | tojson() }}
```

Updated Schema: