Requirement:
{{ requirement.requirement }}

Schema:
```json
{{ schema }}
```

Schema update instructions:
```
{{ instructions }}
```

State name: {{ state.name }}
Current action:
```json
{{ action }}
```

Updated Schema: