Current verification internal state:
```json
{{ schema | tojson() }}
```
Update instructions: {{ instructions }}

{%if prev_reasoning %}Reason for previous update: {{ prev_reasoning }}{%endif%}

State name: "{{ state.name }}"
State current action:
```json
{{ action | tojson() }}
```


Updated Schema: