Requirement:
{{ requirement.requirement }}

Update rules:
{{ instructions }}

Internal state after processing the execution trace:
---
{{ results }}
---

Success condition state:
{{ success_condition }}